
ul{ 
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}
li{
    width: 33.33%;
    color: white;
    list-style-type: none;
    font-size: 1rem;
    letter-spacing: .4rem;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:3rem;
}
i{
    padding: 2rem auto;
}
